@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --branco: white;
    --preto: black;
    --beige: #EFECE3;
    --azul-claro: #8FABD4;
    --azulescuro: #4A70A9;
    --vermelho: red;
}



.style_elements {
    background-color: var(--preto);
    height: 100%;

    a,
    button,
    ul,
    li {
        color: var(--branco);
        font-family: "Space Grotesk", sans-serif;
        font-size: 23px;
    }
}

.opcoes_header {
    font-size: 22px;


}

.navbar-toggler-icon,
.tamanho_span {
    background-color: var(--branco);
    border-radius: 2px;
    height: 35px;
    width: 35px;

}

#bannerTopo {
    background: #eee;
    padding-top: 18px;
    font-weight: bold;
    font-size: 30px;

    img {
        height: 50px;
    }
}


.carrosel-imgs{
    height:100%;
    object-fit: cover;
}