@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --branco: white;
    --preto: black;
    --beige: #EFECE3;
    --azul-claro: #8FABD4;
    --azulescuro: #4A70A9;
    --vermelho: red;
}

.header,
.background-1-fotter {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--preto);

    a {
        color: var(--branco);
        padding-top: 30px;
        padding-left: 80px;
        text-decoration: none;
        font-size: 22px;
        font-family: "Space Grotesk", sans-serif;
    }

    aside {
        padding-top: 30px;

    }

}

.linha-abaixo-das-opces {
    border-bottom: var(--preto) solid 1px;
}

.fundo-inicial {
    background-image: url(img/fundoinicial.jpg);
    height: 78vh;
    width: 100%;
    background-position: center;
    background-size: cover;

    h2 {
        font-family: 'Montserrat', sans-serif;
        padding-top: 180px;
        padding-left: 150px;
        font-size: 70px;
        max-width: 900px;
    }
}

.title-promocao,
.title-mais-vendidos {
    text-align: center;
    padding-top: 2%;

    h1 {
        font-family: 'Montserrat', sans-serif;
    }

    a {
        text-decoration: none;
        padding: 15px;
        font-size: 20px;
        color: var(--vermelho);
    }
}

.promocao {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    text-align: center;
    gap: 100px;
}

.promocao div {
    border-radius: 12px;
    padding: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 0.1px solid var(--azulescuro);
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;


    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    span {
        color: var(--azulescuro);
    }

    p {
        color: var(--vermelho);
    }
}

.promocao div:hover {
    border: 0.1px solid var(--vermelho);
}


.title-mais-vendidos {
    padding-top: 2%;
    text-align: start;
    padding-left: 2%;
}


.grid-vendidos {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    gap: 50px;

}

.grid-vendidos div {
    border-radius: 12px;
    padding: 30px;
    border: 0.1px solid var(--preto);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    img {
        height: 200px;
        width: 200px;
        object-fit: contain;
    }


}



.flex-propaganda {
    display: flex;
    width: 61%;
    margin-top: 100px;

}

.flex-propaganda img {
    flex: 1;
    height: auto;
    width: 54.6%;
}

.title-Marcas {
    text-align: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;

}

.grid-marcas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding-top: 50px;
}

.grid-marcas img {
    height: 56%;
    width: 56%;
    object-fit: contain;

}

.opcoes {
    padding-top: 2%;
}

.grid-opces {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.item-opcao {
    position: relative;
    display: inline-block;
    border-radius: 12px;
}

.item-opcao img {
    object-fit: cover;
    height: 550px;
    width: 550px;
}

.texto-imagem {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 23px;
    color: var(--preto);
    background-color: var(--branco);
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 90px;
}

.texto-imagem:hover {
    color: var(--branco);
    background-color: var(--preto);
}

.footer {
    margin-top: 2%;
}

.footer article{
     background-color: var(--preto);
     height: 70px;
     display: flex;
    justify-content: center;

    p {
        align-content: center;
        font-size: 23.2px;
        font-weight: 700;
        color: var(--branco);
        font-family: 'Montserrat', sans-serif;
    }

}

   



    



.background-2-fotter {
    background-color: var(--preto);
    height: 800px;
}